# Remove the line below if you want to inherit .editorconfig settings from higher directories
root = true

# C# files
[*.cs]

file_header_template=GCode plotter\r\nhttps://github.com/Springwald/GCodePlotter\r\n\r\n(C) 2021 Daniel Springwald, Bochum Germany\r\nSpringwald Software  -   www.springwald.de\r\ndaniel@springwald.de -  +49 234 298 788 46\r\nAll rights reserved\r\nLicensed under MIT License

#### Core EditorConfig Options ####

# Indentation and spacing
indent_size = 4
indent_style = space
tab_width = 4

# New line preferences
end_of_line = crlf
insert_final_newline = false

